In [238]:
import pandas as pd
import numpy as np

In [239]:
df=pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [241]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [242]:
dfg=df.groupby('Species')
dfg.describe()

                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  5.006  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]

In [243]:
columns = ["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm"]
print(columns)

# Group the DataFrame by species
df_grouped = df.groupby('Species')

for species, group in df_grouped:
    print(f"Statistics for {species}:\n")
    
    for col in columns:
        val = group[col]  # Get values for the current column of the species
        
        # Calculate variance, standard deviation, mean, median, etc.
        variance = sum((val - val.mean())**2) / len(val)
        deviation = variance**0.5
        
        print(f"Column: {col}")
        print(f"Variance = {variance}")
        print(f"Standard Deviation = {deviation}")
        print(f"Mean = {val.mean()}")
        print(f"Median = {val.median()}")
        print(f"Inter Quartile Range = {val.quantile(0.75) - val.quantile(0.25)}")
        print(f"Min = {val.min()}")
        print(f"Max = {val.max()}")
        print("\n")

['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']
Statistics for Iris-setosa:

Column: SepalLengthCm
Variance = 0.12176400000000002
Standard Deviation = 0.3489469873777391
Mean = 5.006
Median = 5.0
Inter Quartile Range = 0.40000000000000036
Min = 4.3
Max = 5.8


Column: SepalWidthCm
Variance = 0.142276
Standard Deviation = 0.37719490982779713
Mean = 3.418
Median = 3.4
Inter Quartile Range = 0.5500000000000003
Min = 2.3
Max = 4.4


Column: PetalLengthCm
Variance = 0.029504000000000002
Standard Deviation = 0.17176728442867112
Mean = 1.464
Median = 1.5
Inter Quartile Range = 0.17500000000000027
Min = 1.0
Max = 1.9


Column: PetalWidthCm
Variance = 0.011263999999999998
Standard Deviation = 0.10613199329137278
Mean = 0.244
Median = 0.2
Inter Quartile Range = 0.09999999999999998
Min = 0.1
Max = 0.6


Statistics for Iris-versicolor:

Column: SepalLengthCm
Variance = 0.261104
Standard Deviation = 0.5109833656783751
Mean = 5.936
Median = 5.9
Inter Quartile Range = 0.7000000000000002
Min = 4.9
Max = 7.0


Column: SepalWidthCm
Variance = 0.0965
Standard Deviation = 0.31064449134018135
Mean = 2.7700000000000005
Median = 2.8
Inter Quartile Range = 0.4750000000000001
Min = 2.0
Max = 3.4


Column: PetalLengthCm
Variance = 0.21640000000000004
Standard Deviation = 0.4651881339845203
Mean = 4.26
Median = 4.35
Inter Quartile Range = 0.5999999999999996
Min = 3.0
Max = 5.1


Column: PetalWidthCm
Variance = 0.038324
Standard Deviation = 0.19576516544063705
Mean = 1.3259999999999998
Median = 1.3
Inter Quartile Range = 0.30000000000000004
Min = 1.0
Max = 1.8


Statistics for Iris-virginica:

Column: SepalLengthCm
Variance = 0.39625600000000005
Standard Deviation = 0.6294886813914926
Mean = 6.587999999999998
Median = 6.5
Inter Quartile Range = 0.6750000000000007
Min = 4.9
Max = 7.9


Column: SepalWidthCm
Variance = 0.10192399999999997
Standard Deviation = 0.31925538366643086
Mean = 2.974
Median = 3.0
Inter Quartile Range = 0.37500000000000044
Min = 2.2
Max = 3.8


Column: PetalLengthCm
Variance = 0.29849600000000004
Standard Deviation = 0.546347874526844
Mean = 5.5520000000000005
Median = 5.55
Inter Quartile Range = 0.7750000000000004
Min = 4.5
Max = 6.9


Column: PetalWidthCm
Variance = 0.07392399999999999
Standard Deviation = 0.2718896835115301
Mean = 2.0260000000000002
Median = 2.0
Inter Quartile Range = 0.4999999999999998
Min = 1.4
Max = 2.5

### NBA Dataset

In [249]:
df=pd.read_csv("nba.csv")

# Data Cleaning

df["College"]=df["College"].fillna("No College")
df["Salary"]=df["Salary"].fillna(df["Salary"].mean())
df=df.dropna()
df.isna().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [250]:
dfg=df.groupby('Age',[15,20,25,30,35,40])
dfg.head()

TypeError: unhashable type: 'list'